<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="content-Type" content="text/html"; charset=UTF-8>
        <title>title</title>
    </head>

    <body>
        <p>register student</p>

        <form action="{% url 'students:regCon' %}" method="post">
        {% csrf_token %}
            name:<input type="text" name="name"></br>
            major:<input type="text" name="major"></br>
            age:<input type="text" name="age"></br>
            grade:<input type="text" name="grade"></br>
            gender:<input type="text" name="gender"></br>
            <input type="submit" name="register"></br>
        </form>
    </body>
</html>